---
layout: default
title: Patricia Ribeiro, Proud Geek & Software Developer
---

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
	<div class="container d-flex align-items-center flex-column">

		<!-- Masthead Avatar Image -->
		<img class="masthead-avatar mb-5" alt="avatar" src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairBob&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtScoopNeck&clotheColor=Heather&eyeType=Happy&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Pale'/>
		
		<!-- Masthead Heading -->
		<h1 class="masthead-heading text-uppercase mb-0">Hi there, I'm Patricia!</h1>

		{% include divider.html light=true %}

		<!-- Masthead Subheading -->
		<p class="masthead-subheading font-weight-light mb-0">Proud Geek & Software Developer</p>

	</div>
</header>


<!-- Skills Section -->
<section class="page-section skills" id="skills">
		<div class="container">
	
			<!-- Skills Section Heading -->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>
	
			{% include divider.html %}
	
			<!-- Skills Grid Items -->
			<div class="row justify-content-center">
	
				<!-- Portfolio Item 1 -->
				<div class="col-lg-8">
					<div class="pb-3">
						<h3>Git</h3>
						<div class="progress my-3">
							<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<h3>Docker</h3>
					<div class="progress my-3">
						<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<h3>JavaScript</h3>
					<div class="progress my-3">
						<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<h3>PHP</h3>
					<div class="progress my-3">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>		
	
			</div>
			<!-- /.row -->
	
		</div>
	</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
	<div class="container">

		<!-- About Section Heading -->
		<h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

		{% include divider.html light=true %}

		<!-- About Section Content -->
		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
			</div>
		</div>

		<!-- About Section Button -->
		<div class="text-center mt-4">
			<a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
				<i class="fas fa-download mr-2"></i>
				Free Download!
			</a>
		</div>

	</div>
</section>


<!-- Timeline Section -->
<section class="page-section timeline" id="timeline">
	<div class="container">

		<!-- Timeline Section Heading -->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experience</h2>

		{% include divider.html %}

		<!-- Timeline Grid Items -->
		<div class="row">

			<!-- Portfolio Item 1 -->
			<div class="col-md-12">
				<div class="main-timeline">
					<a href="#" class="timeline">
						<div class="timeline-icon">
							<i class="fa fa-globe"></i>
						</div>
						<div class="timeline-content">
							<h3 class="title">Senior Software Developer</h3>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
							</p>
						</div>
					</a>
					<a href="#" class="timeline">
						<div class="timeline-icon">
							<i class="fa fa-rocket"></i>
						</div>
						<div class="timeline-content">
							<h3 class="title">Web Developer</h3>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
							</p>
						</div>
					</a>
				</div>
			</div>		

		</div><!-- /.row -->

	</div>
</section>